body {
    font-family: 'Microsoft Yahei', STHeiti, sans-serif, Arial;
}

/* form */

.label {
    min-width: 110px;
    display: flex;
    justify-content: flex-end;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
    line-height: 34px;
}

.require-span {
    color: red;
    margin-right: 4px;
}

/* reset v-data-table*/

.v-data-table>.v-data-table__wrapper>table>tbody>tr>th, .v-data-table>.v-data-table__wrapper>table>thead>tr>th, .v-data-table>.v-data-table__wrapper>table>tfoot>tr>th {
    font-size: 0.85rem !important;
    font-weight: 600 !important;
}

.v-form .v-input__slot {
    min-height: auto !important;
    display: flex !important;
}

.v-form .v-input__append-inner {
    margin-top: 5px !important;
}

.v-form .v-text-field--outlined.v-input--dense .v-label {
    top: 7px !important;
}